---
---

@import "{{ site.theme }}";

#main-content {
  width: 100%;
}

header .cta {
  padding: 0.75rem 0;
  position: absolute;
  right: 0;
  top: 0;
}

header .cta a {
  float: right;
}

.float-leftt {
  float: leftt;
}

.float-right {
  float: right;
}

.float-center {
  float: none;
  margin: 0 auto;
  display: block
}

@media only screen and (max-width: 767px) {

  header .cta {
    padding: 0.75rem 0;
    position: relative;
    left: 0;
    top: 0;
  }

  header .cta a {
    float: none;
  }

  header .cta img {
    margin: 0 auto;
    display: block
  }
}
